<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aw.braceletserver.mapper.DevicePositionMapper">
  <resultMap id="BaseResultMap" type="com.aw.braceletserver.model.DevicePosition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="o_latitude" jdbcType="DECIMAL" property="oLatitude" />
    <result column="o_longitude" jdbcType="DECIMAL" property="oLongitude" />
    <result column="device_utc_time" jdbcType="TIMESTAMP" property="deviceUtcTime" />
    <result column="position_type" jdbcType="INTEGER" property="positionType" />
    <result column="altitude" jdbcType="REAL" property="altitude" />
    <result column="online_status" jdbcType="INTEGER" property="onlineStatus" />
    <result column="atmosphere" jdbcType="DECIMAL" property="atmosphere" />
    <result column="battery" jdbcType="INTEGER" property="battery" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_id, latitude, longitude, o_latitude, o_longitude, device_utc_time, position_type, 
    altitude, online_status, atmosphere, battery
  </sql>
  <select id="selectByExample" parameterType="com.aw.braceletserver.model.DevicePositionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_position
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from device_position
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aw.braceletserver.model.DevicePositionExample">
    delete from device_position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aw.braceletserver.model.DevicePosition">
    insert into device_position (id, device_id, latitude, 
      longitude, o_latitude, o_longitude, 
      device_utc_time, position_type, altitude, 
      online_status, atmosphere, battery
      )
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{latitude,jdbcType=DECIMAL}, 
      #{longitude,jdbcType=DECIMAL}, #{oLatitude,jdbcType=DECIMAL}, #{oLongitude,jdbcType=DECIMAL}, 
      #{deviceUtcTime,jdbcType=TIMESTAMP}, #{positionType,jdbcType=INTEGER}, #{altitude,jdbcType=REAL}, 
      #{onlineStatus,jdbcType=INTEGER}, #{atmosphere,jdbcType=DECIMAL}, #{battery,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aw.braceletserver.model.DevicePosition">
    insert into device_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="oLatitude != null">
        o_latitude,
      </if>
      <if test="oLongitude != null">
        o_longitude,
      </if>
      <if test="deviceUtcTime != null">
        device_utc_time,
      </if>
      <if test="positionType != null">
        position_type,
      </if>
      <if test="altitude != null">
        altitude,
      </if>
      <if test="onlineStatus != null">
        online_status,
      </if>
      <if test="atmosphere != null">
        atmosphere,
      </if>
      <if test="battery != null">
        battery,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="oLatitude != null">
        #{oLatitude,jdbcType=DECIMAL},
      </if>
      <if test="oLongitude != null">
        #{oLongitude,jdbcType=DECIMAL},
      </if>
      <if test="deviceUtcTime != null">
        #{deviceUtcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionType != null">
        #{positionType,jdbcType=INTEGER},
      </if>
      <if test="altitude != null">
        #{altitude,jdbcType=REAL},
      </if>
      <if test="onlineStatus != null">
        #{onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="atmosphere != null">
        #{atmosphere,jdbcType=DECIMAL},
      </if>
      <if test="battery != null">
        #{battery,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aw.braceletserver.model.DevicePositionExample" resultType="java.lang.Long">
    select count(*) from device_position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_position
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=INTEGER},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.oLatitude != null">
        o_latitude = #{record.oLatitude,jdbcType=DECIMAL},
      </if>
      <if test="record.oLongitude != null">
        o_longitude = #{record.oLongitude,jdbcType=DECIMAL},
      </if>
      <if test="record.deviceUtcTime != null">
        device_utc_time = #{record.deviceUtcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.positionType != null">
        position_type = #{record.positionType,jdbcType=INTEGER},
      </if>
      <if test="record.altitude != null">
        altitude = #{record.altitude,jdbcType=REAL},
      </if>
      <if test="record.onlineStatus != null">
        online_status = #{record.onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="record.atmosphere != null">
        atmosphere = #{record.atmosphere,jdbcType=DECIMAL},
      </if>
      <if test="record.battery != null">
        battery = #{record.battery,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_position
    set id = #{record.id,jdbcType=INTEGER},
      device_id = #{record.deviceId,jdbcType=INTEGER},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      longitude = #{record.longitude,jdbcType=DECIMAL},
      o_latitude = #{record.oLatitude,jdbcType=DECIMAL},
      o_longitude = #{record.oLongitude,jdbcType=DECIMAL},
      device_utc_time = #{record.deviceUtcTime,jdbcType=TIMESTAMP},
      position_type = #{record.positionType,jdbcType=INTEGER},
      altitude = #{record.altitude,jdbcType=REAL},
      online_status = #{record.onlineStatus,jdbcType=INTEGER},
      atmosphere = #{record.atmosphere,jdbcType=DECIMAL},
      battery = #{record.battery,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aw.braceletserver.model.DevicePosition">
    update device_position
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="oLatitude != null">
        o_latitude = #{oLatitude,jdbcType=DECIMAL},
      </if>
      <if test="oLongitude != null">
        o_longitude = #{oLongitude,jdbcType=DECIMAL},
      </if>
      <if test="deviceUtcTime != null">
        device_utc_time = #{deviceUtcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionType != null">
        position_type = #{positionType,jdbcType=INTEGER},
      </if>
      <if test="altitude != null">
        altitude = #{altitude,jdbcType=REAL},
      </if>
      <if test="onlineStatus != null">
        online_status = #{onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="atmosphere != null">
        atmosphere = #{atmosphere,jdbcType=DECIMAL},
      </if>
      <if test="battery != null">
        battery = #{battery,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aw.braceletserver.model.DevicePosition">
    update device_position
    set device_id = #{deviceId,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      o_latitude = #{oLatitude,jdbcType=DECIMAL},
      o_longitude = #{oLongitude,jdbcType=DECIMAL},
      device_utc_time = #{deviceUtcTime,jdbcType=TIMESTAMP},
      position_type = #{positionType,jdbcType=INTEGER},
      altitude = #{altitude,jdbcType=REAL},
      online_status = #{onlineStatus,jdbcType=INTEGER},
      atmosphere = #{atmosphere,jdbcType=DECIMAL},
      battery = #{battery,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectMaxDevicePositionId" resultType="java.lang.Integer">
	select max(ID)
	from device_position for update
  </select>
</mapper>